name: Build and lint

on:
  - push
  - pull_request

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format-18 clang-tidy-18
          
      - name: Check format
        run: |
          find . -type f -name '*.[c|h]' -exec clang-format-18 --style=file --dry-run -Werror {} \;
          
      - name: Lint with clang-tidy
        run: |
          # Простая проверка без compile_commands.json
          find . -name "*.c" -exec clang-tidy-18 {} -- -I. \;
